<div class="contact">
    <p>Me encontre em: </p>
    <div class="__links">
        <a href="https://dev.to/pedronm">
            <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Pedro Moraes's DEV Profile" height="30" width="30">
        </a>
    </div>
</div>