@forward "variables";
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Nunito+Sans:ital,wght@0,300;1,200&family=Oswald:wght@200;300;400&display=swap');

/*** 
   Reset
**/
:root{
    font-size: 10px;
}

html, body{
   margin: 0;
   padding: 0;
}


a {
   text-decoration: none;
}