@use './mixins/resolutions';
@use './mixins/utilLayout.scss';
@use './animation';
@use './base';

body{
   background-color: base.$neutral-background;
}

.grid{
   display: grid;
   grid-template: ' . dot .' auto / 1fr 2fr 1fr ;
}

.flex{display:flex;}

main{
   grid-area:dot;
   max-width:100%;
}

.about{

   @include utilLayout.flexRow(2,3, 300px, wrap);
   @include resolutions.respond(phone){
      justify-content: flex-start;
      max-width: 400px;

      & > *{
         max-width: 350px;
      }
   }

   padding: base.$basic-spacing;  

   & .__resume{
      padding: base.$basic-spacing;
      margin: 1rem 1.2rem;
   }

   & .__especialidades {
      & .__especialidade{
         padding: base.$basic-spacing;
         margin: 1rem 1.2rem;
         background-color:base.$card-color;
         & .arrow {
            cursor:pointer;
            background-size: 100%;
            background: url('./../../assets/arrow.png') 0 0 no-repeat; 
            float:right;
            height:24px;
            width:24px;
         } 
         & .arrow:before {
            content:"";               
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);        
            transition:all 0.6s;
         }

         & .__conteudo {
            @include resolutions.respond(phone){
               overflow: auto;
            }
            overflow: hidden;
            font-family: base.$text-font;
            height:0px;
            transition: height 0.7s;
         }
      }
   }

   & .contact{
      padding: 0.5rem 2rem; 
   }

}

.__title{
   font-family:base.$title-font;
}

input[id*="btnCheck_"] {
   display:none;
}

input[id*="btnCheck_"]:checked ~ h2 > label.spin {
   background-color:white;
   border-radius: 2px;
   background: url('./../../assets/arrow.png') 0 0 np-repeat;
   -webkit-transform: rotate(-30deg);
   -moz-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
   -o-transform: rotate(-30deg);
   transform: rotate(-30deg);
}

input[id*="btnCheck_"]:checked ~ div#conteudo{
   height:150px;
}