$width-small: 600px;
$width-medium: 1000px;
$width-large: 1600px;

// Snow-White #fffafa
// https://www.canva.com/colors/color-palettes/rosy-flamingo/
$neutral-background: #fffafa;
$basic-spacing: 0.2rem 0.8rem;

$about:#67595e;
$card-color:#E49830 ;

/*    
font-family: 'Antic Slab', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/
$title-font:'Antic Slab', serif;
$text-font:'Oswald', sans-serif;